hydra-core
timm
omegaconf
wandb
tqdm
torch
torchvision
numpy
pydantic
pyyaml
requests
rich
safetensors
scipy
sympy
triton
typing-extensions
urllib3
gitpython
httpx
jinja2
pillow
platformdirs
psutil
ptools
pygments
pynvml
sentry-sdk
setuptools
six
smmap
sniffio
soundfile
stack-data
tabulate
tblib
tenacity
threadpoolctl
tokenizers
traitlets
typing-inspect
wcwidth
websocket-client
yarl
zipp
